 .collapsible-report-container {
  width: 100%;
}

.collapsible-report-icon {
  transition: transform 0.3s ease;
}

.collapsible-report-icon.open {
  transform: rotate(180deg);
}

.collapsible-report-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.collapsible-report-content.open {
  max-height: 5000px; /* Large enough to show all content */
}

.collapsible-report-inner {
  padding: 0;
}
